h1 a {
    color: #DD79E0;
    font-family: "Roboto Condensed"
}

body {
    padding-left: 30px;
}

.page-header {
    background-color: #CB14DB;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size:30pt;
    text-decoration: none;
}

.content {
    margin-left:5px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', cursive;
}

.date {
    color: #6B656B;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 50px;
}

.post {
    margin-bottom: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #6B656B;
}
